<html>
<head>
<title>ABOUT US</title>
<meta name="viewport" content="width=device-width,initial-scale=1">
<link rel="stylesheet" href="assets/css/abtus_style.css">
<style>
@media screen and (max-width:650px)
	{
		.column	{
			width:100%;
			display:block;
		}
	}
</style>
</head>
<body background="assets/images/grad2.jpg">
<div class="header">
<img src="assets/images/logo4.jpg" style="width:170px;height:70px;float:left;border-radius:20px;">
			<div class="header-right">
				<a href="/home">HOME</a>
				<a href="/PROFILE">PROFILE</a>
			</div>
	</div>


<center><h1><b>MEET THE TEAM</b></h1><br></center>

	<div class="row">
		<div class="column">
			<div class="card">
				<img src="assets/images/anvi.jpeg" alt="anvi" style="width:100%;border-radius:20px;">
					<div class="container">
						<h4>ANVITA S JOSHI</h4>
						<p class="title"> Back-End Developer</p>
						<p>anvitajoshi7@gmail.com</p>
					</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="assets/images/akshay.png" alt="akshay" style="width:100%;border-radius:20px;">
					<div class="container">
						<h4>AKSHAY ANAND</h4>
						<p class="title"> Back-End Developer</p>
						<p>akshayanand.2808@gmail.com@gmail.com</p>
					</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="assets/images/sri.jpg" alt="sri" style="width:100%;border-radius:20px;">
					<div class="container">
						<h4>SRIPRIYA BHAT</h4>
						<p class="title"> Front-End Developer</p>
						<p>bhatshripriya@gmail.com</p>
					</div>
			</div>
		</div>
		<div class="column">
			<div class="card">
				<img src="assets/images/hari1.jpg" alt="hari" style="width:100%;border-radius:20px;">
					<div class="container">
						<h4>HARIPRASAD M V</h4>
						<p class="title"> Front-End Developer</p>
						<p>prasadharin27@gmail.com</p>
					</div>
			</div>
		</div>
	</div>
</div>
	</body>
</html>