<!DOCTYPE html>
<html lang="en">
<head>
<title>PAY ME</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="assets/css/homepage_style.css">
<style>

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
        float: none;
        width: 100%;
    }
}

</style>
</head>
<body background="assets/images/grad2.jpg">

<div class="header">
  <img src="assets/images/logo5.png" style="width:300px; height:250px;">
</div>

<div class="navbar">
  <a href="/home">HOME</a>
  <a href="/abtus">ABOUT US</a>
 <a href="/profile" class="right">PROFILE</a>
</div>

<div class="row">
  <div class="side">
      <h2>About PayMe</h2>
      <div class="fakeimg" style="height:200px;padding:22px"><img src="assets/images/logo4.jpg" style="float:left; width:450px; height:155px;"></div>
      <h3 align="center">PayMe is a user friendly mobile wallet application. It provides the users with different functionalities. The main functionalities are adding money to PayMe wallet, sending money to other users using the application and using bank account to add money to their PayMe wallet. It also has some added functionalities which are recharging any mobile number, booking bus tickets and booking movie tickets. All these functionalities use the PayMe wallet of the user.</h3>
  </div>
  <div class="main">
      <h2>MAIN FEATURES</h2>
      <div class="fakeimg" style="height:200px;text-align:center"><a href="/addMoney"><img src="assets/images/Add Money.jpg" style="float:left; width:230px; height:165px;border-radius:20px;"></a><a href="/sendMoney"><img src="assets/images/Send Money.jpg" style="border-radius:20px;width:230px; height:165px;"></a><a href="/addBank"><img src="assets/images/Add Bank.jpg" style="border-radius:20px;float:right; width:230px; height:165px;"></a></div>
      <br>
      <h2>OTHER FEATURES</h2>
      <div class="fakeimg" style="height:200px;text-align:center"><a href="/bookBus"><img src="assets/images/Bus Tickets.jpg" style="float:left; width:230px; height:165px;border-radius:20px;"></a><a href="/bookMovie"><img src="assets/images/Movie Tickets.jpg" style=" width:230px; height:165px;border-radius:20px;"></a><a href="/recharge"><img src="assets/images/Recharge.jpg" style="float:right; width:230px; height:165px;border-radius:20px;"></a></div>
  </div>
</div>

<div class="footer">
  <h3>Copyright 2018 PayMe Support Communities. All rights reserved.</h3>
</div>
 -->
</body>
</html>