
<!DOCTYPE html>
<html>
<head> <title>MOVIE PAGE</title>
<link rel="stylesheet" href="assets/css/movie_style.css">
<style>


/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

}

</style>
</head>
<body background="assets/images/grad2.jpg" align="center">
<div class="header">
		<img src="assets/images/logo4.jpg" style="width:170px;height:70px;float:left;border-radius:20px;">
			<div class="header-right">
				<a href="/homep">HOME</a>
				<a href="/abtus">ABOUT</a>
				<a href="/PROFILE">PROFILE</a>
			</div>
	</div>
	<br>

<h1> BOOK YOUR SHOW Here...</h1><br><br><br>
<div class="center"
<!-- Photo Grid -->
<div class="row"> 
  <div class="column" align="center">
    
    <div class="zoom"><a href="/forrestGump"><img src="assets/images/1.1.jpg" style="width:100%"></a></div>
    
    <div class="zoom"><a href="/interstellar"><img src="assets/images/2.2.jpg" style="width:100%" height="500px"></a></div>
    <div class="zoom"><a href="/shawshankRedemption"><img src="assets/images/7.jpg" style="width:100%" height="302px"></a></div>

    <div class="zoom"><a href="/avengers"><img src="assets/images/9.1.jpg" style="width:100%" height="235px"></a></div>
  </div>
  <div class="column">		
<div class="zoom"><a href="/starWars"><img src="assets/images/6.1.jpg" style="width:100%" height="700px"></a></div>
    	<div class="zoom"><a href="bigHero6"><img src="assets/images/5.1.png" style="width:100%" height="570px"></a></div>
    
    

  </div>  
  <div class="column">
	<div class="zoom"><a href="darkKnightRises"><img src="assets/images/3.1.jpg" style="width:100%"></a></div>
    <div class="zoom"><a href="pursuitOfHappyness"><img src="assets/images/4.1.jpg" style="width:100%"></a></div>
    <div class="zoom"><a href="incredibles2"><img src="assets/images/8.2.jpg" style="width:100%" height="550px"></a></div>
    <div class="zoom"><a href="lifeOfPi"><img src="assets/images/10.1.jpg" style="width:100%" height="230px"></a></div>
   
  </div>
</div>
</div>
<br>
</body>
</html>
