<!DOCTYPE html>
<html>
<head>
	<title>The Pursuit of Happyness</title>
	<link rel="stylesheet" href="assets/css/movie_every_style.css">
	<link rel="stylesheet" href="assets/css/movie_style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  #more {display: none;}
  .review{
    text-align: right;
  }
  .checked {
    color: orange;
}
#t1 {
    -moz-tab-size: 4; /* Firefox */
    -o-tab-size: 4; /* Opera 10.6-12.1 */
    tab-size: 4;
}

.inmiddle {
    font-family: Arial;
    margin: 0 auto; /* Center website */
    max-width: 800px; /* Max width */
    padding-top: 45%;
}

.heading {
    font-size: 25px;
    margin-right: 25px;
}

.fa {
    font-size: 25px;
}

.checked {
    color: orange;
}

/* Three column layout */
.side {
    float: left;
    width: 15%;
    margin-top:10px;
}

.middle {
    margin-top:10px;
    float: left;
    width: 70%;
}


/* Place text to the right */
.right {
    text-align: right;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* The bar container */
.bar-container {
    width: 100%;
    background-color: #f1f1f1;
    text-align: center;
    color: white;
}

/* Individual bars */
.bar-5 {width: 62.5%; height: 18px; background-color: #4CAF50;}
.bar-4 {width: 27.5%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 5%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 3,75%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 1.25%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
    .side, .middle {
        width: 100%;
    }
    .right {
        display: none;
    }
}
</style>


</head>
<body background="assets/images/grad2.jpg">
<div class="header">
		<img src="assets/images/logo4.jpg" style="width:170px;height:70px;float:left;border-radius:20px;">
				<div class="header-right">
				<a href="/home">HOME</a>
				<a href="/abtus">ABOUT</a>
				<a href="/PROFILE">PROFILE</a>
			</div>
	</div>
<center>
	<img src="assets/images/t4.png" style="width:500px; height:200px;" >
	
	<p>
		<h2>
			Storyline :
		</h2>
		Chris Gardner takes up an unpaid internship in a brokerage firm after he loses his life's earnings selling a product he invested in. His wife leaves him and he is left with the custody of his son.
		<p>
Based on a true story about a man named Christopher Gardner. Gardner has invested heavily in a device known as a "bone density scanner". He feels like he has it made selling these devices. However, they do not sell well as they are marginally better than x-ray at a much higher price. As Gardner works to make ends meet, his wife leaves him and he loses his apartment. <span id="dots">...</span><span id="more"> <br><br>Forced to live out in the streets with his son, Gardner continues to sell bone density scanners while concurrently taking on an unpaid internship as a stockbroker, with slim chances for advancement to a paid position. Before he can receive pay, he needs to outshine the competition through 6 months of training, and to sell his devices to stay afloat.
</p>
</span></p>
<button onclick="myFunction()" id="myBtn">Read more</button></p>
</center>
<div id="trailer">
		<h2>
			 Trailer:
		</h2>
<iframe width="908" height="490" src="https://www.youtube.com/embed/00uTFVnWJMw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</div>
		<form class="box" action="pursuit of happyness.html" method="post">
	<br>
	<center>
		<div class="custom-select" style="width:200px;">
			<select onchange="checkTheatre()" id="mylist" required>
				<option value="0">Theatre Name :</option>
				<option value="1">INOX</option>
				<option value="2">PVR</option>
				<option value="3">FUN Cinemas</option>
				<option value="4">Cinepolis</option>
				<option value="5">Big Cinemas</option>
			</select>
		</div>
			<input type="button" value="Confirm Theatre" onclick="checkTheatre()">
				<p>Your Selected Theatre is : <input type="text" id="demo" readonly></p>
				
	</center>
		<input type="button" name="" value="CHECK Show Time" onclick="showTime()" style="width:auto;">
		<b><p id="list"></p></b>
		<h3>Select Number of Tickets you need..</h3>
				<div id="totsl">
					<label class="container1">1
					  <input type="radio" checked="checked" name="radio" id="1" value="1">
					  <span class="checkmark"></span>
					</label>
					<label class="container1">2
					  <input type="radio" name="radio" id="2" value="2">
					  <span class="checkmark"></span>
					</label>
					<label class="container1">3
					  <input type="radio" name="radio" id="3" value="3">
					  <span class="checkmark"></span>
					</label>
					<label class="container1">4
					  <input type="radio" name="radio" id="4" value="4">
					  <span class="checkmark"></span>
					</label>
					<label class="container1">5
					  <input type="radio" name="radio" id="5" value="5">
					  <span class="checkmark"></span>
					</label>
					</div>
					<br>
					<input type="button" value="Check Price" onclick="ticketPrice()">
				<b><p id="price"></p></b>	
				<b><p id="totalp"></p></b>
		<div id="overlay" onclick="off()">
						<div id="text">Ticket Booked Successfully...!
							<input type="text" id="ex1" readonly></div>
						</div>
				<input type="button" name="" value="BOOK" onclick="on(); movieid();">
				
		</form>
	
		<div class="inmiddle">
		<h2>
			Reviews and Ratings:
			<center>
      <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<pre id="t1">
<b>8/10 by IMDB</b></pre>
		</center>
		</h2>
		<p>
		Jaden Smith is adorable; he delivers an endearing performance as Gardner's son, Christopher, in what turns out to be a simple, sentimental, but ultimately inspiring movie. <div class="review">
Cynthia Fuchs<br>
Common Sense Media</div>
</p>
<p>
An admirably unsentimental biopic with an excellent central performance, but it doesn’t impact as strongly as it could.<div class="review">
Chris Hewitt<br>
Empire</div>
</p>
<p>
Will Smith and his son, Jaden, bring to life the true story of a father-son family valiantly struggling to step up from the bottom rung of the ladder in 1980s San Francisco. <div class="review">
Adam R. Holz<br>
Plugged In</div>
		</p>
		<span class="heading">User Rating</span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<p>4.4 average based on 400 reviews.</p>
<hr style="border:3px solid #f1f1f1">

<div class="row">
  <div class="side">
    <div>5 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-5"></div>
    </div>
  </div>
  <div class="side right">
    <div>250</div>
  </div>
  <div class="side">
    <div>4 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-4"></div>
    </div>
  </div>
  <div class="side right">
    <div>110</div>
  </div>
  <div class="side">
    <div>3 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-3"></div>
    </div>
  </div>
  <div class="side right">
    <div>20</div>
  </div>
  <div class="side">
    <div>2 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-2"></div>
    </div>
  </div>
  <div class="side right">
    <div>15</div>
  </div>
  <div class="side">
    <div>1 star</div>
  </div>
  <div class="middle">
    <div class="bar-container">
      <div class="bar-1"></div>
    </div>
  </div>
  <div class="side right">
    <div>5</div>
  </div>
</div>
</div>

			
	
	<br><br><br>
		
	<script>
		function myFunction() {
		  var dots = document.getElementById("dots");
		  var moreText = document.getElementById("more");
		  var btnText = document.getElementById("myBtn");

		  if (dots.style.display === "none") {
			dots.style.display = "inline";
			btnText.innerHTML = "Read more"; 
			moreText.style.display = "none";
		  } else {
			dots.style.display = "none";
			btnText.innerHTML = "Read less"; 
			moreText.style.display = "inline";
		  }
		}
	</script>
	<script>
		function on() {
			document.getElementById("overlay").style.display = "block";
		}
		function off(){
			document.getElementById("overlay").style.display = "none";
		}
	</script>
	<script>
		var x,i,j,selElmt,a,b,c;
		x = document.getElementsByClassName("custom-select");
			for(i = 0; i < x.length; i++)
			{
				selElmt = x[i].getElementsByTagName("select")[0];
				a = document.createElement("DIV");
				a.setAttribute("class","select-selected");
				a.innerHTML = selElmt.options[selElmt.selectedIndex].innerHTML;
				x[i].appendChild(a);
				b = document.createElement("DIV");
				b.setAttribute("class","select-items select-hide");
				for(j = 0; j < selElmt.length; j++)
				{
					c = document.createElement("DIV");
					c.innerHTML = selElmt.options[j].innerHTML;
					c.addEventListener("click",function(e) 
								{
									var y,i,k,s,h;
									s = this.parentNode.parentNode.getElementsByTagName("select")[0];
									h = this.parentNode.previousSibling;
									for(i=0;i<s.length;i++)
									{
										if(s.options[i].innerHTML == this.innerHTML)
										{
										
												s.selectedIndex = i;
												h.innerHTML = this.innerHTML;
												y = this.parentNode.getElementsByClassName("same-as-selected");
												for(k=0;k<y.length;k++){
												y[k].removeAttribute("class");
												}
												this.setAttribute("class","same-as-selected");
												break;
										}
									}
									h.click();
								});
								b.appendChild(c);
				}
					x[i].appendChild(b);
					
					a.addEventListener("click",function(e)
					{
						e.stopPropagation();
						closeAllSelect(this);
						this.nextSibling.classList.toggle("select-hide");
						this.classList.toggle("select-arrow-active");
					});
			}
			function closeAllSelect(elmnt)
					{
						var x,y,i,arrNo = [];
						x = document.getElementsByClassName("select-items");
						y = document.getElementsByClassName("select-selected");
						for(i=0;i<y.length;i++)
						{
							if(elmnt==y[i]){
							arrNo.push(i);}
							else{
							y[i].classList.remove("select-arrow-active");
							}
						}
						for(i=0;i<x.length;i++)
						{
							if(arrNo.indexOf(i)){
								x[i].classList.add("select-hide");
							}
						}
					}
		document.addEventListener("click",closeAllSelect);
	</script>
	<!-- Confirm Theatre -->
	<script>
	function checkTheatre()
	{
    var mylist = document.getElementById("mylist");
	var theatre;
	document.getElementById("demo").value = mylist.options[mylist.selectedIndex].text;
    theatre = mylist.options[mylist.selectedIndex].text;
	}
	</script>
	<!-- TIMINGS OF THE MOVIE	 -->
	<script>
	function showTime()
	{
    var mylist = document.getElementById("mylist");
	var theatre;
    theatre = mylist.options[mylist.selectedIndex].text;
	if (theatre == "PVR"){
			document.getElementById("list").innerHTML=" SHOW TIMINGS : 18:15:00";}
	else if (theatre == "Cinepolis"){  
			document.getElementById("list").innerHTML=" SHOW TIMINGS : 17:50:00";}
	else if (theatre == "Big Cinemas"){
			document.getElementById("list").innerHTML=" SHOW TIMINGS : 14:50:00";}
	else if (theatre == "INOX"){
			document.getElementById("list").innerHTML=" SHOW TIMINGS : 12:00:00";}
	else if (theatre == "FUN Cinemas"){
			document.getElementById("list").innerHTML=" SHOW TIMINGS : 20:15:00";}	
	}
</script>
<!-- PRICE  -->
<script>
	const data = {};
  
  function tcost(pri){
	var not = document.getElementsByName("radio");
	var txt = "";
	var i;
	for(i = 0;i < not.length; i++){
		if(not[i].checked){
			txt = txt+ not[i].value + "";
			}
		}
	document.getElementById("totalp").innerHTML = "Your Total Price is : " +txt * pri;
	const total = txt*pri;
	data.amount = total;
	data.movieName = "The Pursuit Of Happyness";
}

function ticketPrice()
{
	var theatre = document.getElementById("demo").value;
	var pri;
	if (theatre == "PVR"){ pri = "300"; }
	else if (theatre == "Cinepolis"){ pri = "400"; }
	else if (theatre == "Big Cinemas"){ pri = "250"; }
	else if (theatre == "INOX"){ pri = "205"; }
	else if (theatre == "FUN Cinemas"){ pri = "380"; }
	document.getElementById("price").innerHTML="Unit Price of the Ticket  : " +pri;
	tcost(pri);
	}

function movieid()
{

	var mylist = document.getElementById("mylist");
	var theatre;
    theatre = mylist.options[mylist.selectedIndex].text;
	var mid;
	if(theatre == "PVR")
	{
		mid="M801";
			//document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;		
	}
	if(theatre == "Big Cinemas")
	{
		mid="M802";
			//document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;		
	}
	if(theatre=="INOX")
	{
		mid="M803";
			//document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;		
	}
	if(theatre=="Cinepolis")
	{
		mid="M804";
			//document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;		
	}
	if(theatre=="FUN Cinemas")
	{
		mid="M805";
			//document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;		
	}
	document.getElementById("ex1").value = "Movie-ID of Ticket : " + mid;
	data.movieId = mid;
	$.post('/registerBookedMovie',data);
}	
</script>		
<script type="text/javascript" src="../assets/lib/jquery.min.js"></script>	
</body>
</html>