<html>
<head>
<title>RECHARGE</title>
<link rel="stylesheet" href="assets/css/recharge_style.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
@media screen and (max-width:500px)
	{
		.header a {
			float:none;
			display:block;
			text-align:left;
		}
	}
	

</style>
</head>
<body background="assets/images/grad2.jpg">
	<div class="header">
		<img src="assets/images/logo4.jpg" style="width:170px;height:70px;float:left;border-radius:20px;">
				<div class="header-right">
				<a href="/home">HOME</a>
				<a href="/abtus">ABOUT</a>
				<a href="/PROFILE">PROFILE</a>
		</div>
	</div>
	<form class="box" action="/registerRecharge" method="post">
	<p><br>
	<h2>
	<font style="sans-serif" color="white">RECHARGE here...</font>
	</h2><br>
		<div class="relative">
		<img src="assets/images/thumbnail.jpg" style="float:left;height:300px;width:300px; border-radius:20px;"></div>
		<div class="relative1"><img src="assets/images/recharge.jpeg" style="float:right;height:300px;width:300px; border-radius:20px;"></div>
		<input type="radio" name="plan" value="prepaid" checked><font color="white">PRE-PAID<font></input>
		<input type="radio" name="plan" value="postpaid"><font color="white">POST-PAID<font></input>
		<input type="text" id="pn" placeholder="Mobile No." name="rechargedNumber" pattern="[0-9]{10}" title="Ten digit phone number" required>		
		<center>
		<div class="custom-select" style="width:200px;">
			<select required name="operator">
				<option value="" selected disabled>Network Operators :</option>
				<option value="AIRTEL">AIRTEL</option>
				<option value="VODAFONE">VODAFONE</option>
				<option value="IDEA">IDEA</option>
				<option value="JIO">JIO</option>
				<option value="AIRCEL">AIRCEL</option>
				<option value="TATA DOCOMO">TATA DOCOMO</option>
				<option value="BSNL">BSNL</option>
			</select>
		</div>
		</center>
		<input type="text" id="amt" placeholder="Amount" name="amount"  required>
		<div id="overlay" onclick="off()">
			<div id="text">Recharge Successfull...!<br></div>
		</div>
		<div style="padding:20px">
			<input type="submit" name="" value="RECHARGE NOW" onclick="on()">
		</div>
		</p>
	</form> 
	<script>
	function on() {
    document.getElementById("overlay").style.display = "block";
	}
	function off(){
	document.getElementById("overlay").style.display = "none";
	}
	</script>
	<script>
		var x,i,j,selElmt,a,b,c;
		x = document.getElementsByClassName("custom-select");
			for(i = 0; i < x.length; i++)
			{
				selElmt = x[i].getElementsByTagName("select")[0];
				a = document.createElement("DIV");
				a.setAttribute("class","select-selected");
				a.innerHTML = selElmt.options[selElmt.selectedIndex].innerHTML;
				x[i].appendChild(a);
				b = document.createElement("DIV");
				b.setAttribute("class","select-items select-hide");
				for(j = 0; j < selElmt.length; j++)
				{
					c = document.createElement("DIV");
					c.innerHTML = selElmt.options[j].innerHTML;
					c.addEventListener("click",function(e) 
								{
									var y,i,k,s,h;
									s = this.parentNode.parentNode.getElementsByTagName("select")[0];
									h = this.parentNode.previousSibling;
									for(i=0;i<s.length;i++)
									{
										if(s.options[i].innerHTML == this.innerHTML)
										{
										
												s.selectedIndex = i;
												h.innerHTML = this.innerHTML;
												y = this.parentNode.getElementsByClassName("same-as-selected");
												for(k=0;k<y.length;k++){
												y[k].removeAttribute("class");
												}
												this.setAttribute("class","same-as-selected");
												break;
										}
									}
									h.click();
								});
								b.appendChild(c);
				}
					x[i].appendChild(b);
					
					a.addEventListener("click",function(e)
					{
						e.stopPropagation();
						closeAllSelect(this);
						this.nextSibling.classList.toggle("select-hide");
						this.classList.toggle("select-arrow-active");
					});
			}
			function closeAllSelect(elmnt)
					{
						var x,y,i,arrNo = [];
						x = document.getElementsByClassName("select-items");
						y = document.getElementsByClassName("select-selected");
						for(i=0;i<y.length;i++)
						{
							if(elmnt==y[i]){
							arrNo.push(i);}
							else{
							y[i].classList.remove("select-arrow-active");
							}
						}
						for(i=0;i<x.length;i++)
						{
							if(arrNo.indexOf(i)){
								x[i].classList.add("select-hide");
							}
						}
					}
		document.addEventListener("click",closeAllSelect);
	</script>
		
</body>
</html>